<div>

  <% if user_signed_in? %> 

  <%else%>

  <header class="checkin_header">
  <nav>   <h1> Empresa test </h1>
  <% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <% else %>
    <%= button_to "Sign in", new_user_session_path, method: :get %> 
  <% end %> 
  </nav> 
  </header>
<%end%>
  <div id="title"> <h1>Check-in/out</h1> </div>

  <div id='digital-clock'>
    <span id='hour'></span>
    <span class='dot'> :</span>
    <span id='min'></span>
    <span class='dot'>:</span>
    <span id='second'></span>
  </div>

  <p><div id="current_date"> </div></p>
  <script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
  </script>


  <div class="row justify-content-center text-center ">
    <%= form_with url: front_view_index_path, method: :post do |form| %>
        <div class="mb-2 ">
          <div>
            <%= form.label :"employee number:" %>
          </div>
          <%= form.number_field :employee_num %>
        </div>

        <div class="mb-2 pt-1">
          <div>
            <%= form.label :"private number:" %>
          </div>
          <%= form.password_field :employee_private_num %>
        </div>

        <div class="message">
          <% flash.each do |key, value| %>
            <div class="message__content <%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>

        <div class="check__buttons_container pt-1">
          <%= form.submit "Check in", name:"check", value:"in", class: "check__buttons_container__in " %>
          <%= form.submit "Check off", name:"check", value:"off",  class: "check__buttons_container__off " %>
        </div>
      <% end %>
  </div>
</div>

